.sliderItem {
    background: var(--background);
    box-shadow: var(--box-shadow);
    border-radius: 8px;
}

.content {
    padding: 0rem 0.65rem 0.65rem;
}

.content h3 {
    margin-bottom: 2px;
}

.imageContainer {
    width: 100%;
    aspect-ratio: 1.5 / 1;
    padding: 0.65rem;
}

.image {
    border-radius: 5px;
    cursor: grab;
    width: 100%;
    aspect-ratio: 1.5 / 1;
    object-fit: cover;
}

.loading {
    padding: 0 0.65rem;
}

.pointersDisabled {
    pointer-events: none !important;
}

.loading > * {
    padding-bottom: 0.6rem;
}