.wrapper {
    max-width: 35rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.category {
    flex: 1;
    cursor: pointer;
    text-align: center;
    padding: 1rem 0.65rem;
    border: 1px solid var(--text-primary);
    color: var(--text-primary);
    font-weight: 600;
    border-radius: 10px;
    transition: all 0.08s ease-in-out;
}

.category:hover,
.category:focus {
    background: var(--button-hover);
    color: #fff;
    border: 1px solid transparent;
}
