.wrapper {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #7e7e7e;
    padding: 1.5rem 0;
    gap: 1rem;
}

.buttons :first-child {
    margin-right: 0.45rem;
}

@media (min-width: 40em) {
    .wrapper {
        flex-direction: row;
        gap: 2rem;
    }
}
