.sideNav {
    display: flex;
    flex-direction: column;
    gap: 4.125rem;
}

.navbar {
    display: flex;
    flex-direction:column;
    gap: 2rem;
}

.navLink {
    flex: 1;
    flex-basis: calc(33% - 2rem);
    color: var(--text-primary);
    font-weight: 600;
    font-size: 0.8345rem;
    transition: 0.25s all ease-in-out;
}

.iconFlex {
    display: flex;
    gap: 0.35rem;
    align-items: center;
}

.activeLink {
    color: var(--text-secondary-dark);
}

@media (min-width: 64em) {
    .navLink {
        min-width: 10rem;
    }
}
