.sideNav {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.userInfo {
    text-align: center;
}

.croppedImg {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0 auto 1rem;
}

.navbar {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: space-between;
    text-align: center;
}

.navLink {
    flex: 1;
    flex-basis: calc(33% - 2rem);
    color: var(--text-primary);
    font-weight: 600;
    font-size: 0.85rem;
}

@media (min-width: 64em) {
    .sideNav {
        gap: 5rem;
    }

    .navbar {
        flex-direction: column;
    }

    .navLink {
        min-width: 10rem;
    }
}
