.sideNav {
    height: 100%;
    width: 55px;
    padding: 1.125rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3.425rem;
    margin: 0 auto;
}

.navbar {
    display: flex;
    flex-direction:column;
    gap: 2rem;
}

.navLink {
    flex: 1;
    flex-basis: calc(33% - 2rem);
    color: var(--text-primary);
    transition: 0.25s all ease-in-out;
}

.navText {
    display: none;
    font-size: 0.8345rem;
    font-weight: 600;
}

.iconFlex {
    display: flex;
    gap: 0.35rem;
    align-items: center;
}

.activeLink {
    color: var(--text-secondary-dark);
}

@media (min-width: 64em) {
    .sideNav {
        width: 15.5rem;
    }


    .navLink {
        min-width: 10rem;
    }

    .navText {
        display: inline;
    }
}
