.userInfo {
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0.65rem;
}

.croppedImg {
    width: 36.5px;
    height: 36.5px;
    border-radius: 50%;
    /* margin: 0 auto; */
}

.buttons {
    position: absolute;
    bottom: -2.65rem;
    width: 100%;
}

.buttons :first-child {
    margin-right: 0.35rem;
}