.commentSection {
    max-width: 52.5rem;
    padding: 1rem 2rem;
    border: 1px solid var(--border-gray);
    border-radius: 10px;
    background: var(--background);
}

.opacity {
    opacity: 0.5;
}

.comments {
    display: grid;
    gap: 1.5rem;
}

.comments .comment:not(:first-child) {
    border-top: 1px solid var(--border-gray);
}

.comment {
    position: relative;
    padding-top: 2rem;
    display: flex;
    gap: 1rem;
}

.commentTitle {
    margin-bottom: 0.5rem;
}

.commentContent {
    font-size: 1rem;
    word-wrap: break-word;
    overflow: hidden;
}

.intro {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.intro .totalCommentsNum {
    font-size: 1.09625rem;
    font-weight: 800;
    color: var(--danger);
}

.avatar {
    text-align: center;
}

.avatar span {
    color: var(--text-secondary);
    width: 9rem;
    overflow: hidden;
    display: -webkit-box;
    text-overflow: ellipsis;
    word-wrap: break-word;
    white-space: break-spaces;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.avatar img {
    width: 72px;
    height: 72px;
    border-radius: 50%;
    margin: 0 auto 0.75rem auto;
}

.content {
    max-width: 70ch;
}

.treeDotsDropdown {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}

.loader {
    position: fixed;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
}
