.btn-sky {
    position: relative;
    padding: 0.35rem 0.95rem;
    border: none;
    color: #fff;
    background-color: var(--sky-blue);
    border-radius: 0.25rem;
    cursor: pointer;
    transition: background-color 0.15s ease;
}

.spinner {
    position: absolute;
    left: 33%;
    top: 18%;
}

.hidden {
    visibility: hidden;
}

.btn-sky:hover {
    background-color: var(--sky-blue-darker);
}
