{
    "overrides": [
      {
        "files": "*.html",
        "options": {
          "printWidth": 100,
          "tabWidth": 4,
          "useTabs": false,
          "singleQuote": false,
          "jsxSingleQuote": false
        }
      },
      {
        "files": "*.js",
        "options": {
          "printWidth": 80,
          "tabWidth": 4,
          "useTabs": false,
          "singleQuote": true,
          "jsxSingleQuote": true
        }
      },
      {
        "files": "*.jsx",
        "options": {
          "printWidth": 100,
          "tabWidth": 4,
          "useTabs": false,
          "singleQuote": true,
          "jsxSingleQuote": false
        }
      }
    ]
  }
  