.intro {
    margin-bottom: 2rem;
}

.flexContainer {
    display: flex;
    gap: 2rem;
    white-space: pre-wrap;
}

.flexChild {
    padding: 1.3rem;
    background: var(--background);
    border: 1px solid var(--border-gray);
    border-radius: 10px;
    width: 33.33%;
}

.flexChild p {
    margin-bottom: 0.75rem;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
}

.title {
    margin-bottom: 1rem;
}