.introSection {
    margin-bottom: 2rem;
}

.introSection .city {
    font-size: 1.25rem;
}

.introSection .flex {
    margin-bottom: 0.4rem;
}

.introTitle {
    width: 100%;
}

.overview {
    max-width: 52.5rem;
    padding: 1.3rem;
    background: var(--background);
    border: 1px solid var(--border-gray);
    border-radius: 10px;
    white-space: pre-wrap;
}

.overview .description {
    font-size: 1.1rem;
    margin-bottom: 0.75rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 9;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
}

.loading {
    height: 14.875rem !important;
}

@media (min-width: 40em) {
    .flex {
        display: flex;
        gap: 1rem;
        align-items: center;
        justify-content: space-between;
    }
}
