.xIcon {
    cursor: pointer;
    z-index: 10;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.xIcon {
    top: 12px;
    left: 12px;
    color: #fff;
    background: rgba(0, 0, 0, 0.541);
    padding: 0.1rem;
}

.xIcon:hover {
    background: rgba(0, 0, 0, 0.726);
    color: #d6d6d6;
}

.wrapper {
    position: fixed;
    inset: 2% 2% 2% 2%;
    background: var(--gallery-background-black);
    overflow: hidden;
    border-radius: 10px;
    z-index: 10;
}

.imagesContainer {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    height: 100%;
}



@media (min-width: 81em) {
    .imagesContainer {
        flex-direction: row;
    }
}