.overlay {
    position: fixed;
    inset: 0 0 0 0;
    background: rgba(0, 0, 0, 0.735);
    height: 100vh;
    z-index: 5;
}

.wrapper {
    padding: 2rem;
    position: fixed;
    inset: 5% 10% 5% 10%;
    background: var(--gallery-background-black);
    overflow: hidden;
    border-radius: 10px;
    z-index: 10;
}

.imagesContainer {
    display: flex;
    gap: 2rem;
    height: 100%;
}

.imagesContainer img {
    border-radius: 10px;
}

.mainImgContainer {
    overflow: hidden;
    flex: 2.5;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mainImg {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.secondaryImgContainer {
    flex: 1;
    height: 100%;
    overflow-y: scroll;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-auto-rows: min-content;
    gap: 1rem;
}

.secondaryImgContainer img {
    width: 100%;
    aspect-ratio: 1.25/1;
    object-fit: cover;
    cursor: pointer;
}

.isActive {
    border: 2px solid rgb(157, 22, 96) !important;
}
