.grid {
    position: relative;
    margin-top: 3rem;
    background: var(--dashboard-background);
    box-shadow: var(--box-shadow);
    /* padding: 3rem 1.25rem; */
    border-radius: 10px;
    height: 50rem;
    display: grid;
    gap: 1.25rem;
    grid-template-columns: repeat(1fr, 1fr, 1fr, 1fr);
    grid-template-areas:
        "snav con con con"
        "stats stats stats stats";
}

.sideNav {
    border-right: 1px solid #f4f3f2;
    grid-area: snav;
    /* background: red; */
}

.stats {
    background: var(--dashboard-children-background);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-left: 1px solid #f4f3f2;
    grid-area: stats;
}

.content {
    grid-area: con;
}

.stats p,
.stats h1,
.stats h2,
.stats h3 {
    color: var(--text-primary);
}

@media (min-width: 64em) {
    .grid {
        grid-template-columns: repeat(6, 1fr);
        grid-template-areas: "snav con con con con stats";
    }

    /* .grid > * {
        padding: 1.5rem;
    } */


}
