.grid {
    background: var(--dashboard-background);
    box-shadow: var(--box-shadow);
    padding: 3rem 1.25rem;
    border-radius: 20px;
    display: grid;
    gap: 1.25rem;
    margin: 2rem 0 4rem;
}

.sideNav {
    border-right: 1px solid #f4f3f2;
}

.destinations {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(calc(20rem - 1rem), 1fr));
    gap: 1rem;
}

.stats {
    background: var(--dashboard-children-background);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-left: 1px solid #f4f3f2;
}

.stats p,
.stats h1,
.stats h2,
.stats h3 {
    color: var(--text-primary);
}

@media (min-width: 64em) {
    .grid {
        grid-template-columns: repeat(6, 1fr);
        grid-template-areas: "snav dest dest dest dest stats";
    }

    .grid > * {
        padding: 1.5rem;
    }

    .destinations {
        grid-area: dest;
    }

    .sideNav {
        grid-area: snav;
    }

    .stats {
        grid-area: stats;
    }
}
