.dashboard {
    display: flex;
    background: var(--dashboard-background);
    box-shadow: var(--box-shadow);
    border-top: 1px solid var(--border-brown);
    height: 100rem;
}

.sideNavSection {
    width: auto;
    background: var(--app-background-color);
}


.flexContainer {
    padding: 1rem 0.8125rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;

}

.stats {
    background: var(--dashboard-children-background);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-left: 1px solid #f4f3f2;
}

.content {
    padding: 0;
}

.stats p,
.stats h1,
.stats h2,
.stats h3 {
    color: var(--text-primary);
}