.intro {
    margin-bottom: 2rem;
}

.flexContainer {
    display: flex;
    gap: 2rem;
}

.flexContainer > * {
    padding: 1.5rem;
    background: #fff;
    border: 1px solid var(--border-gray);
    border-radius: 10px;
    width: 33.33%;
}

.title {
    margin-bottom: 1rem;
}