.categories {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
}

.card {
    padding: 0.65em;
    height: 9rem;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.25s ease-in-out;
    flex: 1;
    flex-basis: 32%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.card span {
    font-size: 1.25rem;
}

.card:hover,
.card:focus {
    opacity: 0.95;
    transform: scale(1.025);
}

.categories div:nth-child(1) {
    background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.7)),
        url('https://images.pexels.com/photos/516863/pexels-photo-516863.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1')
            no-repeat 50% 50% / cover;
}
.categories div:nth-child(2) {
    background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.7)),
        url('https://images.pexels.com/photos/1049298/pexels-photo-1049298.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1')
            no-repeat 80% 100% / cover;
}
.categories div:nth-child(3) {
    background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.7)),
        url('https://images.pexels.com/photos/913215/pexels-photo-913215.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1')
            no-repeat 100% 100% / cover;
}

.categories div:nth-child(4) {
    background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.7)),
        url('https://images.pexels.com/photos/1624735/pexels-photo-1624735.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1')
            no-repeat 50% 20% / cover;
}

.categories div:nth-child(5) {
    background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.7)),
        url('https://images.pexels.com/photos/2097087/pexels-photo-2097087.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1')
            no-repeat 50% 65% / cover;
}

.categories div:nth-child(6) {
    background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.7)),
        url('https://images.pexels.com/photos/67566/palm-tree-palm-ocean-summer-67566.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1')
            no-repeat 100% 100% / cover;
}

@media (min-width: 40em) {
    .card {
        height: 11rem;
    }
}

@media (min-width: 87.5em) {
    .card {
        flex: 1;
    }
}