.categories {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
}

.card {
    height: 9rem;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.25s ease-in-out;
    flex: 1;
    flex-basis: 32%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.loading {
    background: yellow;
    height: 100%;
    width: 100%;
}

.card .categoryName {
    font-size: 1.15rem;
    color: #fff;
    padding: 0.35rem;
}

.card:hover,
.card:focus {
    opacity: 0.95;
    transform: scale(1.025);
}

.categories .Beach {
    background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.7)),
        url("https://images.pexels.com/photos/1049298/pexels-photo-1049298.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1")
            no-repeat 80% 100% / cover;
}

.categories .Mountains {
    background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.7)),
        url("https://images.pexels.com/photos/913215/pexels-photo-913215.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1")
            no-repeat 100% 100% / cover;
}

.categories .Cultural {
    background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.7)),
        url("https://images.pexels.com/photos/1624735/pexels-photo-1624735.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1")
            no-repeat 50% 20% / cover;
}

.categories .Snow {
    background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.7)),
        url("https://images.pexels.com/photos/2097087/pexels-photo-2097087.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1")
            no-repeat 50% 62% / cover;
}

.categories .Islands {
    background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.7)),
        url("https://images.pexels.com/photos/2549017/pexels-photo-2549017.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1")
            no-repeat 50% 100% / cover;
}

.categories .Adventure {
    background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.7)),
        url("https://images.pexels.com/photos/1230302/pexels-photo-1230302.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1")
            no-repeat 100% 50% / cover;
}

@media (min-width: 40em) {
    .card {
        height: 11rem;
    }
}

@media (min-width: 87.5em) {
    .card {
        flex: 1;
    }
}
