.wrapper > *:not(:last-child) {
    margin-bottom: 3.5rem;
}

.sectionTitle {
    font-weight: 900;
    margin-bottom: 0.65rem;
}

.sectionDescription {
    font-size: 0.985rem;
    font-weight: 600;
}
