.places {
    margin-bottom: 0.75rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(375px, 1fr));
    gap: 1rem;
}

.card {
    background: var(--card);
    padding: 0.55rem;
    border-radius: 10px;
    display: flex;
    gap: 1rem;
}

@media (min-width: 87.5em) {
    .card {
        min-height: 8.45rem;
    }
}
