.categories {
    max-width: 38rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.85rem;
    overflow: hidden;
}

.categories .icon {
    width: 80px;
    height: 80px;
    border: 1px solid #fff;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.icon:nth-child(3) {
    padding: 0.75rem;
}

.icon:nth-child(4) {
    padding: 0.8rem;
}

.categories .icon > * {
    width: 60px;
    height: 60px;
    transition: background-color 0.125s ease-in-out;
}

.categories > *:hover,
focus {
    background-color: #fff;
}
