.categories {
    max-width: 40rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.categories > * {
    width: 80px;
    height: 80px;
    border: 1px solid #fff;
    border-radius: 50%;
    padding: 0.5rem;
    transition: background-color 0.125s ease-in-out;
    cursor: pointer;
}

.categories > *:hover,
focus {
    background-color: #fff;
}
