.form {
    max-width: 52.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.33rem;
}

.form ::selection {
    background-color: var(--text-selection);
    color: #fff;
}

.title {
    margin-bottom: 1.25rem;
    font-weight: 600;
}

.formInput,
.formTextarea {
    width: 100%;
    border: 1px solid var(--border-gray);
    border-radius: 5px;
    padding: 0.25rem 0.75rem;
    outline: none;
}

.formInput:focus,
.formTextarea:focus {
    outline: 1px solid var(--text-secondary-dark);
}

.formTextarea {
    resize: none;
    height: 15rem;
}