.form {
    width: 66%;
}

.form ::selection {
    background-color: var(--text-selection);
    color: #fff;
}

.title {
    margin-bottom: 0.5rem;
}

.formInput,
.formTextarea {
    width: 100%;
    border: 1px solid var(--border-gray);
    border-radius: 5px;
    margin-bottom: 0.5rem;
    padding: 0.25rem 0.75rem;
    outline: none;
}

.formInput:focus,
.formTextarea:focus {
    outline: 1px solid var(--text-secondary-dark);
}

.formTextarea {
    resize: none;
    height: 15rem;
}

.btn {
    border: none;
    border-radius: 10px;
    background: var(--button-primary);
    color: #fff;
    font-weight: 700;
    padding: 0.85rem 2rem;
    transition: all 0.25s ease-in-out;
    cursor: pointer;
}

.btn:hover,
.btn:focus {
    background: var(--button-hover);
}

.error {
    color: var(--error-message);
}
