.category {
    display: flex;
}

.category:last-child {
    margin-bottom: 0.44rem;
}

.category label {
    font-size: 1.05rem;
}

.category input[type="checkbox"] {
    margin-left: auto;
    /* removing default appearance */
    -webkit-appearance: none;
    appearance: none;
    /* creating a custom design */
    width: 1.3rem;
    height: 1.3rem;
    border-radius: 0.15em;
    margin-right: 0.5rem;
    border: 0.15rem solid var(--danger);
    outline: none;
    cursor: pointer;
    display: flex;
}

.category input:checked {
    background-color: var(--danger);
    position: relative;
}

.category input:checked::before {
    content: "\2714";
    font-size: 1.075rem;
    color: #fff;
    position: absolute;
    right: 2px;
    top: -5px;
}