.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
}

.swiper-slide img {
    width: 100%;
    height: 15rem;
    object-fit: cover;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.item {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
        rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

    border-radius: 5px;
}

.content {
    padding: 1rem;
}
