.titleWrapper {
    display: flex;
    justify-content: space-between;
}

.headerContent {
    max-height: 21rem;
    max-width: 35rem;
    overflow-y: scroll;
}

.countryName {
    margin-bottom: 1rem;
}

.descriptionTitle {
    margin-bottom: 0.5rem;
}

.description {
    font-size: 1.1rem;
    color: var(--text-primary);
    white-space: pre-wrap;
}
