.intro {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 0.4rem;
}

.title {
    width: 100%;
}

.content {
    max-width: 35rem;
    white-space: pre-wrap;
    margin-bottom: 2rem;

}

.country {
    font-size: 1.25rem;
    margin-bottom: 1rem;
}

.descriptionTitle {
    margin-bottom: 0.5rem;
}

.description {
    /* max-height: 14.875rem; */
    font-size: 1.1rem;
    margin-bottom: 0.75rem;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 9;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
}

.description p {
    margin-bottom: 1rem;
}

.description h2, h3, h4 {
    margin-bottom: 0.35rem;
}

.descriptionLoading {
    height: 14.875rem !important;
}