.intro {
    display: flex;
    justify-content: space-between;
}

.content {
    max-width: 35rem;
    white-space: pre-wrap;
    margin-bottom: 2rem;

}

.country{
    margin-bottom: 1rem;
}

.descriptionTitle {
    margin-bottom: 0.5rem;
}

.description {
    font-size: 1.1rem;
    margin-bottom: 0.75rem;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 9;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
}
