.continents {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 0.85rem;
    max-width: 25rem;
}

.continents > * {
    color: #222;
    font-size: 0.965rem;
    font-weight: 600;
    border-radius: 15px;
    text-align: center;
}