.categories {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 0.5em;
}

.categories h2 {
    margin-bottom: 1rem;
}

.card {
    height: 6.5rem;
    color: #fff;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.4)),
        url('../../../assets/pictures/homepage/showcase.jpg') no-repeat 50% 50% /
            cover;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.25s ease-in-out;
}

.card:hover,
.card:focus {
    opacity: 0.95;
    transform: scale(1.025);
}

.card span {
    font-size: 2rem;
}
