.wrapper {
    display: flex;
    border-bottom: 1px solid #7e7e7e;
    padding: 0.85rem 0;
    max-width: 60rem;
    gap: 2rem;
}

.textareaWrapper {
    display: flex;
    flex-direction: column;
    gap: 0.33rem;
    width: 100%;
}

.input,
.textarea {
    padding: 0.4rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    background-color: #f5f5f5;
    color: #333;
}

.textarea, .desc {
    width: 100%;
    width: calc(100% - 1rem);
}

.textarea {
    height: 15rem;
}

.buttons {
    display: flex;
    gap: 0.45rem;
}

.label {
    width: 23rem;
}

.label,
.desc {
    color: var(--text-secondary);
}

.desc {
    display: -webkit-box;
    max-height: 4.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    white-space: break-spaces;
    margin-left: 1.75rem;
    -webkit-line-clamp: 3; 
    -webkit-box-orient: vertical;
}

.edit {
    margin-left: auto;
    cursor: pointer;
    color: var(--sky-blue);
}

.detail {
    margin-top: 1rem;
}

.detail label {
    font-weight: normal;
    margin-bottom: 0.25rem;
}

.detail input,
.detail textarea {
    margin-top: 0.25rem;
}

.detail input:disabled,
.detail textarea:disabled {
    background-color: #f5f5f5;
    color: #777;
}