.card {
    border-radius: 10px;
    padding: 0.65rem;
    background: var(--background);
    filter: var(--filter-box-shadow);
    display: flex;
    gap: 1rem;
}

.imageContainer {
    flex: 1;
    aspect-ratio: 1.5/1;
}

.content {
    padding: 0.35rem;
    flex: 1;
    display: flex;
    gap: 0.35rem;
    flex-direction: column;
    justify-content: space-between;
}

.image {
    border-radius: 10px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.buttons {
    display: flex;
    gap: 0.65rem;
}
