.showcase {
    height: 38rem;
}

.showcase-image {
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)),
        url("../../../assets/pictures/homepage/showcase.jpg") no-repeat 50% 50% / cover;
}

.intro {
    margin: 0 auto;
    max-width: 45rem;
    padding-top: 4.5rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.title {
    font-weight: 900;
}

.title,
.description {
    color: #fff;
}

.showcase img {
    object-fit: cover;
}

.buttons {
    margin-bottom: 3em;
}
