.wrapper {
    position: fixed;
    inset: 5% 5% 5% 5%;
    margin: 0 auto;
    max-width: 35rem;
    background: #fff;
    overflow: hidden;
    border-radius: 10px;
    z-index: 10;
    overflow: scroll;
}

.closeIcon {
    position: absolute;
    right: 15px;
    top: 15px;
    cursor: pointer;
}
