.imagesWrapper {
    max-height: 33rem;
    display: flex;
    gap: 1rem;
}

.imagesWrapper > * {
    flex: 1;
    aspect-ratio: 1/1;
}

.imagesWrapper img {
    object-fit: cover;
    border-radius: 15px;
    cursor: pointer;
}

.mainImg {
    height: 100%;
}

.secondaryImages {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
}

.secondaryImages > * {
    width: calc(50% - 0.5rem);
    height: calc(50% - 0.5rem);
}
