.overlay {
    position: fixed;
    inset: 0 0 0 0;
    background: rgba(0, 0, 0, 0.735);
    height: 100vh;
    z-index: 10;
    display: flex;
    justify-content: center;
    padding-top: 15%;
}

.text {
    position: absolute;
    margin-top: 5rem;
    color: #fff;
    font-weight: bold;
    font-size: 1.5rem;
}

.pulseLoader {
    margin-left: 1rem;
}