.wrapper {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #7e7e7e;
    padding: 1.5rem 0;
    gap: 1rem;
}

.label {
    color: var(--text-primary);
    font-weight: 600;
    font-size: 0.965rem;
    width: 23rem;
}

.textareaWrapper {
    width: 100%;
}

.textarea {
    width: calc(100% - 1rem);
    height: 15rem;
}

.input,
.textarea {
    padding: 0.4rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    background-color: #f5f5f5;
    color: #333;
    margin-bottom: 0.33rem;
}

.buttons :first-child {
    margin-right: 0.45rem;
}

@media (min-width: 40em) {
    .wrapper {
        flex-direction: row;
        gap: 2rem;
    }
}
