.neonBtn {
    border: none;
    background: none;
    cursor: pointer;
    position: relative;
    display: inline-block;
    padding: 1rem 1.5rem;
    margin: 2.5rem 0;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.1s;
    letter-spacing: 1px;
    font-weight: 600;
    overflow: hidden;
    border-radius: 5px;
    color: var(--danger);
    box-shadow: 0 0 1px var(--clr-neon);
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
}
.neonBtn:hover {
    background: var(--clr-neon);
    color: #fff;
    font-weight: 600;
    box-shadow: 0 0 5px var(--clr-neon), 0 0 25px var(--clr-neon), 0 0 50px var(--clr-neon),
        0 0 150px var(--clr-neon);
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
}

.neonBtn span {
    position: absolute;
    display: block;
}
.neonBtn span:nth-child(1) {
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, skyblue);
    animation: animate1 1s linear infinite;
}
@keyframes animate1 {
    0% {
        left: -100%;
    }
    50%,
    100% {
        left: 100%;
    }
}
.neonBtn span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, yellow);
    animation: animate2 1s linear infinite;
    animation-delay: 0.25s;
}

@keyframes animate2 {
    0% {
        top: -100%;
    }
    50%,
    100% {
        top: 100%;
    }
}
.neonBtn span:nth-child(3) {
    bottom: 0;
    right: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, rgb(198, 16, 119));
    animation: animate3 1s linear infinite;
    animation-delay: 0.5s;
}
@keyframes animate3 {
    0% {
        right: -100%;
    }
    50%,
    100% {
        right: 100%;
    }
}

.neonBtn span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, orange);
    animation: animate4 1s linear infinite;
    animation-delay: 0.75s;
}
@keyframes animate4 {
    0% {
        bottom: -100%;
    }
    50%,
    100% {
        bottom: 100%;
    }
}
