.modalMain {
    position: fixed;
    min-width: 23rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1.5rem 2rem;
    border-radius: 5px;
    z-index: 10;
}

.modalButtons {
    display: flex;
    gap: 0.75rem;
    justify-content: flex-end;
    margin-top: 1.5rem;
}