.container {
    min-height: 100vh;
    font-family: "Roboto", sans-serif;
    display: flex;
}

.aside {
    display: none;
    flex: 1;
    background: url("https://images.unsplash.com/photo-1509149037-37dc57ccbd13?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1935&q=80")
        no-repeat 50% 50% / cover;
}

.wrapper {
    flex: 1;
    background-color: #132a35;
}

.form {
    margin: 0 auto;
    width: min(90%, 36rem);
    margin-top: 5rem;
}

.formFieldLink {
    text-decoration: none;
    border-bottom: 1.5px solid var(--danger);
    padding-bottom: 0.5rem;
    margin-left: 1rem;
}

.error {
    color: var(--danger);
    font-size: 0.9125rem;
    font-weight: 600;
}

.errorWrapper {
    margin-top: -1.25rem;
    margin-bottom: 0.75rem;
    min-height: 3rem;
    display: flex;
    align-items: center;
}

@media (min-width: 46.875rem) {
    .aside {
        display: inline-block;
    }
}
