.formField {
    position: relative;
    margin-bottom: 2rem;
}


.formFieldInput {
    width: 100%;
    background-color: transparent;
    border: none;
    color: white;
    outline: none;
    border-bottom: 1px solid #445366;
    padding: 0.75rem 2.75rem;
    border-radius: 5px;
}

.formFieldInput::placeholder {
    color: var(--text-form);
}

.icon {
    position: absolute;
    top: 0.85rem;
    left: 0.45rem
}