.form {
    display: flex;
    flex-direction: column;
    gap: 1.35rem;
}

.form input,
.form textarea {
    padding: 0.35rem 0.4725rem;
    margin: 8px 0;
    border: 1.25px solid var(--border-brown);
    border-radius: 5px;
    outline: none;
}

.form input:focus,
.form textarea:focus {
    background: #fffffab6;
}


.formField {
    padding: 1rem;
    border-radius: 5px;
    box-shadow: var(--box-shadow-ease);
    display: flex;
    gap: 0.2rem;
    flex-direction: column;
    /* background: #fffffab6; */
    background: var(--app-background-color);
}

.validField {
    border-color: #4bb543 !important;
}

.error {
    border-color: #ff0000 !important;
}

.form .categoryDetails {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.categoryDetails > * {
    /* flex: 1 1 calc(25% - 1rem); */
    cursor: pointer;
    text-align: center;
    padding: 0.55rem 0rem;
    border: 1px solid var(--border-dark);
    border-radius: 5px;
    color: var(--text-primary);
    transition: all 0.08s ease-in-out;
    max-width: 375px;
}

.categoryDetails > *:hover,
.categoryDetails > *:focus {
    background: var(--button-hover);
    color: #fff;
    border: 1px solid transparent;
}

.detailsTitle {
    text-align: center;
    margin-bottom: 0.75rem;
}

.detailsContainer {
    padding: 1rem;
}

.detailsContainer > * {
    margin-bottom: 1rem;
}

.cityInput {
    position: relative;
    border-radius: 5px;
}

.searchDropdown {
    color: var(--text-links);
    background-color: var(--app-background-color);
    border: 1px solid var(--border-gray);
    border-radius: 5px;
    position: absolute;
    bottom: -3.45rem;
    left: 0;
    right: 0;
    z-index: 1;
}

.searchQuery {
    cursor: pointer;
    font-size: 1rem;
    height: 100%;
    width: 100%;
    padding: 1rem 0.25rem;
    display: flex;
    gap: 0.5rem;
}

.description {
    position: relative;
}


.errorMessage {
    position: absolute;
    text-align: center;
    bottom: -1rem;
    left: 0;
    right: 0;
    color: #ff0000;
}

.serverError {
    position: absolute;
    left: 0;
    right: 0;
    color: #ff0000;
    text-align: center;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 1rem;
}
