.form input,
.form textarea {
    padding: 0.2rem 0.23rem;
    margin: 8px 0;
    border: 2.25px solid #ccc;
    outline: none;
}

.form input:focus,
.form textarea:focus {
    border: 2.25px solid #a5a4a4;
}

.formField {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.validatedCity {
    border: 2.25px solid #4bb543 !important;
}

.form .categoryDetails {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
}

.categoryDetails > * {
    flex: 1 1 calc(25% - 1rem);
    cursor: pointer;
    text-align: center;
    padding: 0.35rem 0rem;
    border: 1px solid var(--text-primary);
    color: var(--text-primary);
    font-weight: 600;
    /* border-radius: 10px; */
    transition: all 0.08s ease-in-out;
}

.categoryDetails > *:hover,
.categoryDetails > *:focus {
    background: var(--button-hover);
    color: #fff;
    border: 1px solid transparent;
}

.detailsTitle {
    text-align: center;
    margin-bottom: 0.75rem;
}
