.container {
    display: flex;
    flex-direction: column;
    padding: 1.5rem 0;
    max-width: 45rem;
    margin: 0 auto;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.form input,
.form textarea {
    padding: 0.35rem 0.4725rem;
    margin: 8px 0;
    border: 1.25px solid var(--border-brown);
    border-radius: 5px;
    outline: none;
}

.select {
    width: 100%;
    margin-bottom: 0.33rem;
    font-size: 1rem;
    padding: 0.5rem;
    margin: 8px 0;
    border: none;
    border-radius: 0.25rem;
    background: #fff;
    box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.1);
}

.form .formField:first-child {
    margin-bottom: 2rem;
}

.form input:focus,
.form textarea:focus {
    background: #fffffab6;
}

.formField {
    padding: 1rem;
    border-radius: 5px;
    box-shadow: var(--box-shadow-ease);
    display: flex;
    gap: 0.2rem;
    flex-direction: column;
    background: var(--app-background-color);
}

.formField label {
    font-size: 0.95rem;
    color: var(--text-primary);
    font-weight: 600;
}

.validField {
    border-color: #4bb543 !important;
}

.error {
    border-color: var(--danger) !important;
}

.form .categoryDetails {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 1.25rem;
}

.categoryDetails > * {
    flex: 1 1 calc(50% - 1rem);
    cursor: pointer;
    text-align: center;
    padding: 0.55rem 0rem;
    border: 1px solid var(--border-dark);
    border-radius: 5px;
    color: var(--text-primary);
    transition: all 0.08s ease-in-out;
}

.categoryDetails > *:hover,
.categoryDetails > *:focus {
    background: var(--button-hover);
    color: #fff;
    border: 1px solid transparent;
}

.detailsTitle {
    text-align: center;
    margin-bottom: 0.75rem;
}

.detailsContainer {
    padding: 1.5rem 2.5rem;
}

.detailsContainer > * {
    margin-bottom: 1rem;
}

.cityInput {
    position: relative;
    border-radius: 5px;
}

.searchDropdown {
    color: var(--text-links);
    background-color: var(--app-background-color);
    border-top: 1px solid var(--border-brown);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 0.4rem;
    position: absolute;
    bottom: -2.7rem;
    left: 0;
    height: 45px;
    right: 0;
    z-index: 1;
}

.searchQuery {
    cursor: pointer;
    font-size: 1rem;
    height: 100%;
    width: 100%;
    display: flex;
    gap: 0.5rem;
}

.description {
    position: relative;
}

.errorMessage {
    position: absolute;
    text-align: center;
    bottom: -1.65rem;
    left: 0;
    right: 0;
    color: var(--error-message);
}

.serverError {
    position: absolute;
    left: 0;
    right: 0;
    color: var(--error-message);
    text-align: center;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 1rem;
}

@media (min-width: 81em) {
    .categoryDetails > * {
        flex: 1 1 calc(25% - 1rem);
    }
}
