.grid {
    padding: 3rem 0;
    background: var(--dashboard-background);
    border-radius: 20px;
    box-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.075),
        0 2px 2px hsl(0deg 0% 0% / 0.075), 0 4px 4px hsl(0deg 0% 0% / 0.075),
        0 8px 8px hsl(0deg 0% 0% / 0.075), 0 16px 16px hsl(0deg 0% 0% / 0.075);
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas:
        'snav search search search search stats'
        'snav cat cat cat cat stats'
        'snav dest dest dest dest stats';
    gap: 2.75rem;
    margin: 2rem 0 4rem;
}

.sideNav {
    grid-area: snav;
    border-right: 1px solid #F4f3F2;
}

.searchBar {
    max-width: 30rem;
    grid-area: search;
}

.categories {
    grid-area: cat;
}

.destinations {
    grid-area: dest;
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(calc(50% - 1rem), 1fr)); */
    gap: 2rem;
}

.stats {
    grid-area: stats;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-left: 1px solid #F4f3F2;
}

.stats p,
.stats h1,
.stats h2,
.stats h3 {
    color: var(--text-primary);
}

@media (min-width: 40em) {
    .destinations {
        grid-template-columns: repeat(auto-fit, minmax(calc(50% - 1rem), 1fr));
    }
}
