.selectWrapper {
    position: relative;
    display: flex;
    gap: 0.2rem;
    flex-direction: column;
    background: var(--app-background-color);
}

.selectWrapper {
    position: relative;
    width: 100%;
    border-radius: 5px;
}

.boxShadow {
    box-shadow: var(--box-shadow-ease);
    padding: 1rem;
}

.label {
    font-size: 0.95rem;
    color: var(--text-primary);
    font-weight: 600;
}

.select {
    width: 100%;
    font-size: 1rem;
    padding: 0.5rem;
    margin: 8px 0;
    border: none;
    border-radius: 0.25rem;
    background: #fff;
}

.spinner {
    position: absolute;
    right: 8%;
    top: 55%;
    z-index: 10;
}
