.cancel-button {
    font-size: 0.9rem;
    font-weight: 600;
    text-transform: uppercase;
    padding: 0.25rem 0.95rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
.cancel-button {
    color: #6c757d;
    background-color: #fff;
    border-color: #6c757d;
}
.cancel-button:hover,
.cancel-button:focus {
    background-color: #484848;
    color: #fff;
}
