.main-image-container {
    position: relative;
    overflow: hidden;
    flex: 2.5;
    -webkit-user-select: none; /* Disable text selection for WebKit browsers */
    -moz-user-select: none; /* Disable text selection for Mozilla Firefox */
    -ms-user-select: none; /* Disable text selection for Internet Explorer/Edge */
    user-select: none; /* Disable text selection for other browsers */
}

.main-image-container img {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
}
