.navbar {
    position: absolute;
    right: 0;
    background: var(--background-nav-dropdown);
    top: 4rem;
    width: 17.5rem;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    z-index: 2;
}

.navbar li {
    width: 100%;
}

.navbar li a {
    display: block;
    padding: 1rem;
    transition: 0s;
}

.navbar li a:hover, .navbar li a:focus {
    background: var(--minimalistic-red);
}

.navbar li a {
    color: #fff;
}