.navbar {
    position: fixed;
    top: 4rem;
    bottom: 0;
    background: var(--background-nav-dropdown);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    z-index: 9999;
    padding: 0 0 2rem 0;
}

.navbar li {
    width: 100%;
}

.navbar li a {
    padding: 1rem;
    display: flex;
    justify-content: center;
    transition: none;
}

.navbar li a:hover, .navbar li a:focus {
    background: var(--minimalistic-red);
    outline: none;
}

    .navbar li a {
        color: #fff;
    }