.pairs {
    display: flex;
    gap: 2rem;
    width: 100%;

   h1, h2, h3, h4, p {
    font-size: 0.9125rem;
    color: var(--text-secondary);
   }
}

.desc {
    display: -webkit-box;
    width: calc(100% - 1rem);
    color: var(--text-secondary);
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: anywhere;
    white-space: break-spaces;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
}

.edit {
    margin-left: auto;
    cursor: pointer;
    color: var(--sky-blue);
}