.flex-container {
    display: flex;
    flex-direction: column;
}

.flex-container section:nth-child(1) {
    flex: 1.1;
}

.flex-container section:nth-child(2) {
    flex: 1;
}

.destinationTitle {
    font-size: clamp(1.5rem, 1.45rem + 1.55vw, 2.85rem);
    margin-bottom: 2rem;
}

@media (min-width: 64em) {
    .flex-container {
        flex-direction: row;
        gap: 4.5rem;
    }
}

@media (min-width: 81em) {
    .flex-container {
        gap: 5.5rem;
    }
}
