.primary {
    padding: 0.75em 1.5em;
    border: none;
    color: var(--text-primary-light);
    background-color: var(--button-primary);
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.19s ease-in-out;
}

.primary:hover,
.primary:focus {
    background-color: var(--button-hover);
}