.primary {
    background-color: var(--button-primary);
    color: var(--text-primary-light);
    border: none;
    border-radius: 5px;
    padding: 0.75em 1.5em;
    font-weight: bold;
    transition: all 0.190s ease-in-out;
    cursor: pointer;
}

.primary:hover, .primary:focus {
    background-color: var(--button-hover);
}
