.destination {
    padding: 1rem;
    border-radius: 5px;
    box-shadow:
    0 1px 1px hsl(0deg 0% 0% / 0.035),
    0 2px 2px hsl(0deg 0% 0% / 0.035),
    0 4px 4px hsl(0deg 0% 0% / 0.035),
    0 8px 8px hsl(0deg 0% 0% / 0.035),
    0 16px 16px hsl(0deg 0% 0% / 0.035)
  ;
}

.image {
    border-radius: 5px;
    margin-bottom: 0.35rem;
}

.title {
    margin-bottom: 1rem;
}

.description {
    margin-bottom: 2rem;
}