.destination {
    padding: 1rem;
    border-radius: 5px;
    background: var(--background);
    box-shadow: var(--box-shadow);
}

.image {
    border-radius: 5px;
    margin-bottom: 0.35rem;
}

.title {
    margin-bottom: 1rem;
}

.description {
    margin-bottom: 2rem;
}