.destination {
    padding: 1rem;
    border-radius: 5px;
    background: var(--background);
    box-shadow: var(--box-shadow);
}

.image {
    border-radius: 5px;
    margin-bottom: 0.35rem;
    width: 100%;
    aspect-ratio: 1.25/1;
    object-fit: cover;
}

.title {
    margin-bottom: 1rem;
}
