.actionBtns {
    margin-top: 0.25rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.cropper {
    position: absolute;
    z-index: -1;
    height: 100%;
    width: 100%;
    background: #000;
}
