.btn {
    display: block;
    padding: 0.35rem 0.95rem;
    font-weight: 600;
    border: none;
    color: #fff;
    background: var(--button-primary);
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.25s ease-in-out;
}

.btn:hover {
    background: var(--button-hover);
}

.link {
    display: inline-block;
}