.title {
    margin-bottom: 1.35rem;
    font-weight: 400;
}

.container > section {
    margin-bottom: 0.5rem;
}

.text {
    font-size: 0.9125rem;
}

.user,
.destination {
    font-weight: 600;
}

.user {
    color: var(--sky-blue);
}

.destination {
    color: var(--danger);
}

.activity {
    border-radius: 5px;
    background: var(--app-background-color);
    padding: 0.9rem;
}

.time {
    display: flex;
    gap: 0.5rem;
    justify-content: space-between;
}

.time .hour {
    font-size: 0.9rem;
}
