.sideNav {
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

.userInfo {
    padding: 1.5rem;
    text-align: center;
}

.userInfo img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0 auto 1rem;
}

.navbar {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: space-between;
    text-align: center;
}

.navLink {
    color: var(--text-primary);
    font-weight: 600;
    letter-spacing: 0.5px;
    border-radius: 10px;
    flex: 1;
    flex-basis: calc(50% - 0.85rem);
    font-size: 0.85rem;
}

@media (min-width: 800px) {
    .navbar {
        flex-direction: column;
    }

    .navLink {
        min-width: 10rem;
    }
}
