.sideNav {
    padding: 1em 0;
    border-radius: 5px;
}

.navbar {
    display: flex;
    flex-wrap: wrap;
    gap: 0.85rem;
    justify-content: space-between;
    text-align: center;
}

.navLink {
    padding: 1rem 0;
    font-weight: 700;
    color: rgb(15, 16, 30);
    background: rgb(221, 211, 211);
    border-radius: 10px;
    flex: 1;
    flex-basis: calc(50% - 0.85rem);
}