.wrapper {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #7e7e7e;
    padding: 1.5rem 0;
    gap: 1rem;
}

.label {
    color: var(--text-primary);
    font-weight: 600;
    font-size: 0.965rem;
    width: 23rem;
}

.selectWrapper {
    width: 100%;
}

.select {
    width: 100%;
    margin-bottom: 0.33rem;
    font-size: 1rem;
    padding: 0.5rem;
    border: none;
    border-radius: 0.25rem;
    box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.1);
}
.select:focus {
    outline: none;
    box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.2);
}

.buttons :first-child {
    margin-right: 0.45rem;
}

@media (min-width: 40em) {
    .wrapper {
        flex-direction: row;
        gap: 2rem;
    }
}
