.imagesWrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(155px, 1fr));
    gap: 0.3rem;
    border-radius: 10px;
    max-height: 50rem;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: var(--scroll-bar) #e7e4e4;
}

.imagesWrapper::-webkit-scrollbar {
    width: 6px;
}

.imagesWrapper::-webkit-scrollbar-track {
    background: #e7e4e4;
} 

.imagesWrapper::-webkit-scrollbar-thumb {
    background: var(--scroll-bar);
    border-radius: 5px;
} 

.imagesWrapper::-webkit-scrollbar-thumb:hover {
    background: var(--scroll-bar-hover);
}


.imgContainer {
    position: relative;
    cursor: pointer;
    transition: all 0.25s ease-in-out;
}

.imgContainer:focus,
.imgContainer:hover {
    opacity: 0.8;
}

.imgContainer img {
    width: 100%;
    aspect-ratio: 1.25/1;
    object-fit: cover;
    border-radius: 5px;
}

.imagesWrapper .remove {
    z-index: 1;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    color: #fff;
}

.overlayText {
    padding: 0.5rem;
    position: absolute;
    width: 100%;
    background: #0000006b;
    border-radius: 5px;
    z-index: 1;
    height: 100%;
    top: 0;
    color: #fff;
    text-align: center;
    font-size: 0.85rem;
    font-weight: 600;
}


@media (min-width: 40em) {
    .imagesWrapper {
        grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
        gap: 0.5rem;
    }
}
