.primary {
    border: none;
    border-radius: 5px;
    padding: 0.75em 1.5em;
    background-color: rgb(36, 40, 109);
    font-weight: bold;
    color: #fff;
    transition: all 0.190s ease-in-out;
    cursor: pointer;
}

.primary:hover, .primary:focus {
    background-color: rgb(32, 36, 124);
}
