.file {
    display: none;
}

.formField {
    display: flex;
    flex-direction: column;
}

.btn {
    display: inline-block;
    margin-bottom: 1.5rem;
    padding: 0.6rem 1.15rem;
    border: none;
    color: #fff;
    font-weight: 600;
    font-size: 0.9725rem;
    border-radius: 0.25rem;
    background: var(--sky-blue);
    transition: background-color 0.15s ease;
    cursor: pointer;
}

.btn:hover,
.btn:focus {
    background: var(--sky-blue-darker);
}