.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-inline: auto;
}

.navbar {
    min-height: 100vh;
    min-width: 100vw;
    position: absolute;
    display: flex;
    gap: 2rem;
    flex-direction: column;
    align-items: center;
    background: var(--background-nav-dropdown);
    z-index: 2;
}

.navbar li {
    padding: 0.65rem 1.5rem;
}

.navbar li a {
    color: var(--text-primary-light);
    font-size: 1.25rem;
}

.navbar .btn {
    padding: 0.65rem 1.5rem;
    border-radius: 5px;
    background: var(--button-primary);
    color: var(--text-primary-light);
}

.container {
    margin: 0 auto;
    width: clamp(14rem, 93.5vw, 80rem);
}

@media (min-width: 40em) {
    .flex {
        display: flex;
    }

    .wrapper {
        flex: 2;
    }

    .navbar {
        position: static;
        min-width: auto;
        min-height: auto;
        height: 100%;
        flex-direction: row;
        justify-content: center;
        background: transparent;
    }

    .navbar li {
        padding: 0;
    }

    .navbar li a {
        font-size: 0.95rem;
        color: var(--text-primary);
        font-weight: 600;
    }
}
