.header {
    position: relative;
}

.navContainer {
    height: 4.5rem;
    position: relative;
    display: flex;
    justify-content: space-between;
    width: clamp(14rem, 93.5vw, 85rem);
    margin: 0 auto;
    gap: 1rem;
}

.logo {
    display: flex;
    align-items: center;
}

.navContentWrapper {
    display: flex;
    align-items: center;
    gap: 3rem;
}