/* 
-- min: breakpoints-up
_____________________________
  'medium': '40em' (640px)
  'large': '64em'  (1024px)
  'prexl': '81em'  (1300px)
  'xlarge': '87.5em' (1400px)

-- max: breakpoints-down
_____________________________
  'small': '39.9375em' 639px
  'medium': '63.9375em' 1023 px
  'prexl': '80.9375em' 1299px
  'large': '87.4375em' 1399px 
*/

.App {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.container {
    margin: 0 auto;
    width: clamp(14rem, 93.5vw, 80rem);
}

.sliderItem {
    background: var(--background);
    box-shadow: var(--box-shadow);
    border-radius: 8px;
}

.content {
    padding: 0rem 0.65rem 0.65rem;
}

.image {
    cursor: grab;
    width: 100%;
    aspect-ratio: 1.5 / 1;
    object-fit: cover;
    border-radius: 20px;
    padding: 0.65rem;
}

button[disabled] {
    pointer-events: none;
    opacity: 0.5;
    cursor:context-menu !important;
}