/* 
-- min: breakpoints-up
_____________________________
  'medium': '40em' (640px)
  'large': '64em'  (1024px)
  'prexl': '81em'  (1300px)
  'xlarge': '87.5em' (1400px)

-- max: breakpoints-down
_____________________________
  'small': '39.9375em' 639px
  'medium': '63.9375em' 1023 px
  'prexl': '80.9375em' 1299px
  'large': '87.4375em' 1399px 
*/

.App {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

.sliderItem {
    background: var(--background);
    box-shadow: var(--box-shadow);
    border-radius: 8px;
}

.content {
    padding: 0rem 0.65rem 0.65rem;
}

.image {
    cursor: grab;
    width: 100%;
    aspect-ratio: 1.5 / 1;
    object-fit: cover;
    border-radius: 20px;
    padding: 0.65rem;
}

.error-message {
    font-size: 0.95rem;
    color: var(--error-message);
    text-decoration: uppercase;
}

button[disabled] {
    pointer-events: none;
    opacity: 0.5;
    cursor: context-menu !important;
}

.fill {
    fill: red;
}

.server-error {
    text-align: center;
    margin: 3rem 0;
    font-size: 1.75rem;
    color: var(--error-message);
}

.label {
    color: var(--text-primary);
    font-weight: 600;
    font-size: 0.965rem;
    width: 23rem;
}

.editor-content > * + * {
    margin-top: 1.25rem;
}

.editor-content ul, ol {
    padding: 0 1rem;
}

.editor-content li {
    margin-bottom: 1.5rem;
}

.editor-content ol li {
    list-style-type: decimal;
}

.editor-content ul li {
    list-style: circle;
}

.editor-content blockquote {
    padding-left: 1rem;
    border-left: 2px solid rgba(#0d0d0d, 0.1);
}

.editor-content p {
    line-height: 1.6;
}