.mb-1 {
    margin-bottom: 1.25rem !important;
}

.mb-2 {
    margin-bottom: 2rem !important;
}

.mb-5 {
    margin-bottom: 5rem !important;
}

.flex-column {
    display: flex;
    flex-direction: column;
    width: 100% !important;
}

.flex-column > * {
    margin-bottom: 0.25rem;
}

@media (min-width: 64em) {
    .flex-column > * {
        height: 3rem;
        margin-bottom: 0.85rem;
    }
}
