.cityInput {
    position: relative;
    border-radius: 5px;
}

.searchDropdown {
    color: var(--text-links);
    background-color: var(--app-background-color);
    border-top: 1px solid var(--border-brown);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 0.4rem;
    position: absolute;
    bottom: -2.7rem;
    left: 0;
    height: 45px;
    right: 0;
    z-index: 1;
}

.searchResult {
    cursor: pointer;
    font-size: 1rem;
    height: 100%;
    width: 100%;
    display: flex;
    gap: 0.5rem;
}