:root {
    --app-background-color: #ECDBCC;
    --background: #fff;
    --background-nav: rgb(15, 16, 30);
    --background-footer: rgb(15, 16, 30);
    --text-primary: #25161A;
    --text-primary-light: #fff;
    --text-secondary: rgb(203, 190, 190);
    --text-links: rgb(203, 190, 190);
    --button-primary: #C05E2B;
    --button-hover: #9f4718;

    --box-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.045),
    0 2px 2px hsl(0deg 0% 0% / 0.045), 0 4px 4px hsl(0deg 0% 0% / 0.045),
    0 8px 8px hsl(0deg 0% 0% / 0.045), 0 16px 16px hsl(0deg 0% 0% / 0.045);
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
        Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: var(--app-background-color);
}
