@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;400;600;800;900&display=swap');

:root {
    --app-background-color: #ecdbcc;
    --background: #fff;
    --background-nav-dropdown: rgb(15, 16, 30);
    --background-footer: rgb(15, 16, 30);
    --background-intro: linear-gradient(to right bottom,#c05e2b,#c15934,#c1543c,#c05044,#be4c4c,#bb4a53,#b84859,#b4475f,#af4665,#a8476b,#a14770,#9a4874);
    --text-primary: #25161a;
    --text-primary-light: #fff;
    --text-secondary: rgb(173, 165, 165);
    --text-secondary-dark: #c05e2b;
    --text-links: rgb(203, 190, 190);
    --button-primary: #c05e2b;
    --button-hover: #9f4718;
    --button-secondary: #00c9aa;
    --button-hover-secondary: #17a590;

    --box-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.045),
        0 2px 2px hsl(0deg 0% 0% / 0.045), 0 4px 4px hsl(0deg 0% 0% / 0.045),
        0 8px 8px hsl(0deg 0% 0% / 0.045), 0 16px 16px hsl(0deg 0% 0% / 0.045);
}

body {
    /* font-family: 'Segoe UI', 'Fira Sans', sans-serif; */
    font-family: 'Fira Sans', 'Segoe UI', sans-serif;
    background: var(--app-background-color);
}
